{% extends "portafolio/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}
Contacto – Irene Hurtado
{% endblock %}

{% block head %}
<!-- Estilos o scripts adicionales -->
{% endblock %}

{% block page_content %}


      <section class="py-5">
        <div class="container px-5">
          <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                <i class="bi bi-envelope"></i>
              </div>
              <h1 class="fw-bolder">Contáctame</h1>
              <p class="lead fw-normal text-muted mb-0">Estoy encantada de saber de ti</p>
            </div>

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
              {% endfor %}
            {% endif %}


            <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          
          <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
            <div class="col">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
              <div class="h5 mb-2">Chat</div>
              <p class="text-muted mb-0">Escríbeme por redes sociales.</p>
            </div>
            <div class="col">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
              <div class="h5">Colaboraciones</div>
              <p class="text-muted mb-0">Abierta a proyectos, prácticas y nuevas ideas.</p>
            </div>
            <div class="col">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
              <div class="h5">Dudas</div>
              <p class="text-muted mb-0">Respondo dudas sobre mis proyectos o tecnologías usadas.</p>
            </div>
            <div class="col">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
              <div class="h5">Teléfono</div>
              <p class="text-muted mb-0">Disponible con cita previa por email.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock %}