{% extends "portafolio/base.html" %}
{% load static %}

{% block head_title %}
Proyectos – Irene Hurtado
{% endblock %}

{% block head %}
<!-- Estilos o scripts adicionales -->
{% endblock %}


{% block page_content %}

      <!-- Página de Proyectos -->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="text-center mb-5">
            <h1 class="fw-bolder">Mis Proyectos</h1>
            <p class="lead fw-normal text-muted mb-0">Explora lo que he construido</p>
          </div>
          <div class="row gx-5">
          
          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/minichatpdf.png' %}" alt="Minichat PDF" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/chatpdf" target="_blank">Mini ChatPDF</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/data-assistant.png' %}" alt="Data Assistant" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/data-assistant/" target="_blank">Data Assistant</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/textclasi.png' %}" alt="Text Classifier Api" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/text-classifier-api" target="_blank">Text Classifier Api</a>
            </div>
          </div>        
          
          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/rag.png' %}" alt="RAG" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/rag-fastapi" target="_blank">RAG</a>
            </div>
          </div>            

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/chatbot.png' %}" alt="chatbot" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/chatbot-ia" target="_blank">Chatbot Pro con IA</a>
            </div>
          </div>               

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/notariaphurtado.png' %}" alt="Notaría Hurtado" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/notariaphurtado" target="_blank">Notaría Hurtado</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/bibliotecaApi.png' %}" alt="Biblioteca API" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/bibliotecaApi" target="_blank">Biblioteca API</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/HTML-JS-Anotador.png' %}" alt="Anotador Web" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/HTML-JS-Anotador" target="_blank">Anotador Web</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/HTML-JS-Calculadora.png' %}" alt="Calculadora JS" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/HTML-JS-Calculadora" target="_blank">Calculadora JS</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5">
              <img class="img-fluid rounded-3 mb-3" src="{% static 'images/proyectos/portafolio-personal.png' %}" alt="Este Portafolio" />
              <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/IreHurtado/portafolio-irene" target="_blank">Este Portafolio</a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="position-relative mb-5 d-flex flex-column align-items-center justify-content-center h-100 border rounded-3 bg-light p-4">
              <p class="h4 mb-3">¿Quieres ver más?</p>
              <a class="btn btn-outline-dark" href="https://github.com/IreHurtado" target="_blank">Ver todos mis proyectos</a>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5 bg-light">
        <div class="container px-5 my-5 text-center">
          <h2 class="display-5 fw-bolder mb-4">¿Quieres colaborar conmigo?</h2>
          <a class="btn btn-light-purple btn-primary" href="{% url 'contact' %}">Contáctame</a>
        </div>
      </section>

{% endblock %}
